[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
affine = "*"
dask = "*"
geopandas = "*"
h5py = "*"
ipython = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyproj = "*"
rasterio = "*"
requests = "*"
scipy = "*"
seaborn = "*"
toolz = "*"
xarray = "*"
Rtree = "*"
Shapely = "*"
ipykernel = "*"
nbconvert = "*"
netcdf4 = "*"
xlrd = "*"
descartes = "*"
rasterstats = "*"

[dev-packages]

[requires]
python_version = "3.8"
